<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Upload-Download</title>
</head>
<body>
  <form method="GET" action="/upload/books">
    <button type="submit">Books</button>
  </form>
  <!--Uploading form-->
  <form method="POST" enctype="multipart/form-data" action="/upload/download">
    <h1 id='heading'>Upload/Download</h1>
    <label for='file'><input type="file" name='file' id='file' required></label><br>
    <label for="title_book">Title<br><input type="text" name="title_book" id="title_book" required></label><br>
    <label for='author'>Author<br><input type="text" name="author" id="author" required></label><br>
    <label for="desc">Description<br><textarea name="desc" id="desc" cols="30" rows="10" ></textarea></label><br>
    Select the genre:
    <input type="radio" name="bookType" value="Fiction" checked><label for='Fiction'>Fiction</label>
    <input type="radio" name="bookType" value="NonFiction"><label for='NonFiction'>Non-Fiction</label>
    <input type="radio" name="bookType" value="FanFiction"><label for='FanFiction'>Fan-fiction</label>
    <br>
    <input type="submit" value="Submit">
    <hr>
  </form>
    <!-- files is the variable for ejs , it works when a file is been uploaded else only the above code is just rendered -->
    <% if(files){
      if(dup=='duplicate'){%>
      <h1>The file already exists</h1>
      <% }%>
    <% } %> <!-- Ending of that if statement-->
</body>
</html>
